body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('/img/bg.jpg');
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    left: 34px;
    top: 6px;
    position: absolute;
}

.left img {
    height: 81px;
    display: inline-block;
    width: 81px;
}

.left div {
    display: inline-block;
    position: absolute;
    top: 20px;
    padding: 20px;
    margin: -16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    left: 718px;
    color: cyan;
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    color: red
}

.mid {
    /* border: 2px solid green; */
    position: absolute;
    display: inline-block;
    width: 33%;
    margin: 6px auto;
    padding: 7px;
    right: -86px;
    top: 6px;
}

.navbar {
    display: inline-block
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 33px 22px;
}
